{% extends 'base.html' %}
{% block title %} Jnotes {% endblock %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% include 'inc/_search_field.html' %}
<div class="container card-container">
    <div class="row justify-content-center">
    {% if notes_list %}
        {% for post in notes_list %}

        <div onclick="window.location='{% url 'notes:note-detail' post.pk %}'" class="card col-md-12 col-12x">
            <div class="card-body">
                <div class="card-delete">
                    <a href="{% url 'notes:note-delete' post.pk %}">
                        <i class="fas fa-times fa-2x"></i>
                    </a>
                </div>

                <h5 class="card-title">{{ post.title_note }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ post.category_note }}</h6>
                <h6 class="card-subtitle mb-2 text-muted">{{ post.date_note|date:"d/m/Y" }}</h6>
                <h6>{{ post.author }}</h6>
                <p class="card-text">{{ post.content_note|truncatechars:150 }}</p>


            </div>
        </div>

        {% endfor %}
        {% else %}
        <p class="h1 justify-content">ahahahahahahah</p>
        {% endif %}
    </div>
</div>
{% endblock %}