{% extends 'base.html' %}
{% load static %}


{% block title %} note: {{ note.title_note }} {% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/note-detail.css' %}">
<div class="container">
    <div class="row">
        <div class="text-block">
            <h1>{{ note.title_note }}/<a href="{% url 'notes:one-category' note.category_note.pk %}">{{ note.category_note }}</a></h1>
            <p>{{ note.date_note|date:"d/m/Y" }}</p>
            <a href="{% url 'notes:note-update' note.pk %}">Fuck</a>
            <p class="note_date">{{ note.content_note|linebreaks }}</p>
        </div>
    </div>
</div>

{% endblock %}
