.sfield-container{
    margin-top:20px;
}
.various-categories a{
    text-decoration: none;
    color: black;
}
.various-categories a:hover{
    color: blue;
}
.categories-container{
    margin-top:20px;
}