.card-container{
    margin-top:20px;
}
.sfield-container{
    margin-top:20px;
}
.card{
    max-width: 300px;
    max-height: 250px;
    min-width: 300px;
    min-height: 250px;
    margin:10px;
}
.card:hover {
    border-color: black;
    
}
.card-delete{
    position: absolute;
    top: 1%;
    right: 2%;
}
a i{
    color: red;
}
i:hover{
    color: pink;
}

