a:hover{
    text-decoration: none;
}
a i{
    color: black;
}
p a{
    color: #808080;
}

.search-field{
    width: 50%;
    margin: 5% auto 0;
}
.card{
    margin: 1% auto;
    width: 50%;
}
.card-title{
    font-size: 25px;
}

.card-options{
    position: absolute;
    top: 10%;
    right: 1%;
}
.card-options i{
    margin-left: 20px;
}
.card-date{
    margin: 20px 0;
	padding-bottom: 0;
	height: 0;
	border: none;
	border-top: 1px solid #333;
}
.not-exist{
    margin: 5% auto;
    width: 50%;
    font-size: 40PX;
    text-align: center;

}

