{% extends 'base.html' %}

{% block title %}IT IS WORKING {% endblock %}

{% block content %}
{% for post in object_list %}
<div class="cards" style="margin-top:20px;">
    <div class="card">
      <div class="card-header">
        {{ post.category_note }}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ post.title_note }}</h5>
        <p class="card-text">{{ post.content_note }}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
</div>

{% endfor %}
{% endblock %}