{% extends 'base.html' %}
{% block title %} Jnotes {% endblock %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
    <form class="d-flex search-field">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

{% for post in notes_list %}

<div class="card">
  <div class="card-body">
    <p class="card-title">{{ post.title_note }}</p>
    <p class="card-category"><a href="{% url 'one-category' post.category_note|slugify  %}">{{ post.category_note }}</a></p>
    <p class="card-text">{{ post.content_note|linebreaks|truncatewords_html:20}}</p>
    <p class="card-date">{{ post.date_note|date:"d/m/Y" }}</p>
    <div class="card-options">
        <a href="{% url 'note-detail' post.pk %}">
            <i class="fas fa-envelope-open-text"></i>
        </a>
        <a href="{% url 'note-update' post.pk %}">
            <i class="fas fa-edit"></i>
        </a>
        <a href="{% url 'note-delete' post.pk %}">
            <i class="fas fa-trash"></i>
        </a>
    </div>

</div>

</div>

{% endfor %}
{% endblock %}