{% extends 'base.html' %}
{% block title %} Jnotes {% endblock %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<div class="container sfield-container">
    <div class="row">
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</div>
<div class="container card-container">
    <div class="row justify-content-center">

        {% for post in notes_list %}

        <div onclick="window.location='{% url 'notes:note-detail' post.pk %}'" class="card col-md-12 col-12x">
            <div class="card-body">
                <div class="card-delete">
                    <a href="{% url 'notes:note-delete' post.pk %}">
                        <i class="fas fa-times fa-2x"></i>
                    </a>
                </div>

                <h5 class="card-title">{{ post.title_note }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ post.category_note }}</h6>
                <h6 class="card-subtitle mb-2 text-muted">{{ post.date_note|date:"d/m/Y" }}</h6>
                <p class="card-text">{{ post.content_note|truncatechars:150 }}</p>


            </div>
        </div>

        {% endfor %}
    </div>
</div>
{% endblock %}