{% extends 'base.html' %}
{% load static %}
{% load my_filter %}
{% block title %}master{% endblock %}


{% block content %}
<link rel="stylesheet" href="{% static 'css/note_add.css' %}">
<div class="container">
    <div class="row">
        <form method="POST" class="new-post">
            {% csrf_token %}
            <div class="field">
            <p class="h2">Title:</p>
            {{ form.title_note|addclass:'post-title inputs' }}
            </div>
            <div class="field">
            <p class="h2">Category:</p>
            {{ form.temp_category|addclass:'post-category inputs' }}
            </div>
            <div class="field">
            <p class="h2">Content:</p>
            {{ form.content_note|addclass:'post-content inputs' }}
            </div>
            <div class="col-md-12 text-center">
            <button class="btn btn-secondary btn-lg btn-block">Update</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
